* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container {
    width: 900px;
    margin: auto;

    h2 {
        text-align: center;
        padding-bottom: 70px;
    }
}

header img {
    width: 80px;
    margin-bottom: 50px;
}

header div {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
}

nav {
    display: flex;
    gap: 25px;
}

.noir {
    background-color: black;
    color: white;
    padding: 10px 50px 50px 10px
}

.column {
    display: flex;
    flex-direction: column;

    h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 50px;
        font-weight: 500;
    }

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    .width {
        width: 150px;
    }

}

.btn {
    margin-top: 30px;
    width: fit-content;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;

    h3,
    p {
        text-align: center;
        line-height: 25px;
        margin: 40px 0 0 0;
    }
}

.limit_width {
    max-width: 280px;
}

.width_noir {
    width: 100%;
    background-color: black;
}

.padding {
    padding-block: 90px;
}

.around {
    justify-content: space-around;
}

#padding_block {
    padding-block: 70px;
}

.wrap {
    flex-wrap: wrap;
}

#real {
    padding-block: 70px;
}

.pad {
    h3 {
        padding: 20px 0 15px 0;

    }
}